/*Bottom Part */ 

.navbar {
    margin: 10px;
    margin-top: 10px;
    height: 60px;
    background-color:rgb(253, 253, 253);
}


.bottom-right {
    display: flex;
    float: right;
    flex-direction: row;
    height: 60px;
    text-align: center;
    font-family: sans-serif;
}

.navbarbutton { 
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-style: none;
    text-decoration: none;
}

.navbarbutton:hover {
    background-color: white;
    transition: 0.5s;
    border:  1px solid slategray;
    font-style: inherit;
}

/*Middle*/
.main {
    background-color: white;
    display: flex;
    justify-content: center; /* Alinhamento horizontal */
    align-items: center; /* Alinhamento vertical */
    height: 90vh;
    margin: 0; /* Removendo margens padrão */
    padding: 0; /* Removendo preenchimentos padrão */
    position: relative; /* Adicionando posição relativa */
}


.googlelogo{
    position: absolute; /* Alterado para absoluto */
    top: 27%; /* Coloca o elemento no topo do body */
    left: 50%; /* Alinhando ao centro horizontalmente */
    transform: translateX(-50%); /* Corrigindo a posição */
    z-index: 1; /* Define uma posição de camada acima do body */
    min-height: 90px;
    margin:0;
    Padding:0;
    width: 272px;
    height: 92px;

}

.search-bar {
        display: flex;
        z-index: 3;
        position: relative;
        top: -65px;
        min-height: 44px;
        background: #fff;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        border-radius: 24px;
        margin: 0 auto;
        width: 638px;
        max-width: 584px;
        padding: 2;
        padding-left: 20px;
        font-size: 15px;
}

.search-bar:hover {
    border: 1px solid #dfe1e5;
    box-shadow: 3px 3px 5px silver;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 82px;
}

.button {
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    top: -50px;
}


.text {
        position: fixed;
        font-family: arial, sans-serif;
        font-size: 15px;
        display: flex;
        justify-content: center;
        bottom: 3%;
        left: 45%;
}
/*Advanced Search*/
.asnavbar {
    margin: 10px;
    margin-top: 10px;
    height: 60px;
    background-color: rgb( 253, 253, 253);
}


.asbottom-right {
    display: flex;
    float: right;
    flex-direction: row;
    height: 60px;
    text-align: center;
    font-family: sans-serif;
}

.advanced {
    color: #d93025;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin: 25px 35px;
}

.line {
    border-bottom: 1px solid #ebebeb;
}

.principal {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    height: 826px;
    margin: 40px 2% 0 45px
}

.span {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333333;
    vertical-align: middle;
    font-family: Arial, sans-serif;
}

.advancedbar {
    display: flex;
    clear: left;
}

.row-input {
    display: flex;
    justify-content: center;
    height: 29px;
    margin-top: 20px;
}

.left {
    width: 200px;
}


.right {
    width: 570px;
    height: 29px;
}

.form-input{
    height: 29px;
    width: 550px;
}

.label {
    font-size: 13px;
    vertical-align: middle;
}

.btn-advanced {
    color: white;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    font-family: arial;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
    }

    .advanced-search-button {
        display: flex;
        justify-content: flex-end;
        width: 765px;
        margin-top: 30px;
    }
